

body {
    font-family: Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #424242 !important;
    /*text-decoration:underline;*/
}
li {
    font-size: 14px;
}

hr {
    border-style: inset;
}

h1 {
    font-size: 18px;
    text-align: center;
}
h2 {
    font-size: 16px;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}

h1#main-header {
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
}

div#nav {
    padding-top: 0px;
    top: 0;
    left: 0;
    height: auto;
}
div#nav li {
    font-size: 16px;
    list-style-type: none;
    float: left;
    padding: 0px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    margin-top: auto;

    border-right-style: solid;
    border-right-width: thin;

    text-align: center;
}
li#last-navlink {
    border-color: white;
}

div#nav ul li a {
    display: block;
    font-weight: bold;
}

hr#line-under-navbar {
    width: 60%;

}

div#undernav {
    margin-top: 60px;

}
div#site-content-container {
    border-left: ridge;
    border-right: ridge;
    border-width: thin;
    border-color: black;
    padding-left: 5%;
    padding-right: 5%;
}
div#left-sidebar>li {
    text-decoration: none;
    list-style-type: none;
    font-size: smaller;
}

a#blog-title {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: none;

}
p#timestamp {
    font-size: 10px;
    padding: none;
    margin: none;
    text-align: right;
    font-style: italic;
}
.blog-entry {
    /*border-bottom-style: solid;
    border-bottom-width: thin;*/
    background-color: #EEE;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    margin: 5px;
}
.comment {
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
}
.comment:nth-child(even) {
    background-color: #EEE;
}
.comment:nth-child(odd) {
    background-color: #DDD;
}

.comment>h1 {
    font-size: 12px;
}
.comment>h2 {
    font-size: 12px;
}
.comment>h3 {
    font-size: 12px;
}
.comment>h4 {
    font-size: 12px;
}
.comment>p {
    font-size: 12px;
}
.comment>li {
    font-size: 12px;
}
.comment>a {
    font-size: 12px;
}
.comment>pre {
    font-size: 12px;
}
.comment>blockquote {
    font-size: 12px;
}
span.commenter {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
}

#comment-submission-form {
    background-color: #CCC;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#comment-submission-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: thin solid black;
    border-radius: 2px;

}

#submitted-comment-content {
    width: 90%;
    height: 10%;
    display: block;
    border-radius: 5px;
    border: thin solid black;
    resize: none;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
#left-sidebar {
    padding-left: 2%;
    padding-right: 2%;
}
#left-sidebar p, li {
    text-indent: 0px;
    font-size: 12px;
}
#left-sidebar li{
    list-style: none;
}

.pager {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li a {
    text-decoration: none;
    background-color: #DDD;
    padding: 5px;
    margin: 5px;
}

/*.alert {
    color:#555;
border-radius:10px;
font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
padding:10px 10px 10px 36px;
margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.alert-danger {
    background:#ffecec  no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.alert-success {
    background:#e9ffd9  no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.alert-warning {
    background:#fff8c4  no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.alert-notice {
    background:#e3f7fc no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}*/
