{% if pagination.get_page_count() > 1 %}
<ul class="pager">

  {% if pagination.get_page() > 1 %}
    <li><a href="./?{{ request.args|clean_querystring('page', page=pagination.get_page() - 1) }}">&laquo; Previous {{ pagination.get_page() - 1 }} / {{ pagination.get_page_count() }}</a></li>
  {% else %}
    <li>&laquo;</li>
  {% endif %}
  {% if pagination.get_page_count() > pagination.get_page() %}
    <li><a href="./?{{ request.args|clean_querystring('page', page=pagination.get_page() + 1) }}">Next {{ pagination.get_page() + 1 }} / {{ pagination.get_page_count() }} &raquo;</a></li>
  {% else %}
    <li>&raquo;</li>
  {% endif %}
</ul>
{% endif %}
