{% extends "base.html" %}

{% block content %}
<p>I'll add links to blog posts about myself as I get around to writing them. For now enjoy this placeholder.</p>

<h1>about me</h2>
    <p>I attended a small liberal arts school in VT. Goddard College was located somewhere between John Dewey and Paolo Friere.
        Most importantly there, I learned how to learn by building my own curriculum, finding my own resources.</p>

<p>I spent three years at the Rabbinical School of Hebrew College studying texts in Hebrew, Aramaic, sometimes English.
    I entered out of a love of study, a fascination with mysticism and personal development.
    I left because a career as a rabbi is primarily about community leadership. I'm not much of an extrovert.</p>

<p>I'm pursuing programming because it's a field where learning matters. Spending hours
    at a time puzzling apart a problem, building a solution, figuring out how a framework works: that's the job.
    It's exciting and scary. I love it. I hate it. I don't want to stop.
</p>
<h2>about this site</h2>
<p>This website is my attempt to chronicle my learning. On the blog you'll likely
read some other material, too.

I've been at this for about a year now. I'm still at the beginning of this journey. Beginnings are difficult, I know it, and maintaining the open mind of a beginner is hard. But I hope to live there.</p>
{% endblock %}
