{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}search "{{ search }}"{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    {% if search %}
      {% set entry = entry.entry %}
    {% endif %}

    <h1>
      <a id="blog-title" href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        {{ entry.title }}
      </a>
  </h1>
   <br />
    <div class="blog-entry">{{ entry.html_content }}
    </div>
    <p id="timestamp">{{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
  {% else %}
    <p>i couldn't find anything :-( </p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
