{% extends "base.html" %}

{% block title %}Bendauer.com{% endblock %}
{% block content_title %}<h1>latest post</h1><hr>
<br />{% endblock %}

{% block content %}
<h1>
  <a id="blog-title"  href="{{ url_for('detail', slug=entry.slug) }}">
    {{ entry.title }}
  </a>
  </h1>
  <br />
<div class="blog-entry">{{ entry.html_content }}
<br />

<p id="timestamp"><a href ="http://bendauer.com"><span class="commenter">Ben</span></a> at {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
<h2><a href="{{ url_for('detail', slug=entry.slug) }}#comments">read/add comments</a></h2>
</div>
<br />
<hr>
<br />


{% endblock %}
